<!DOCTYPE html>
<html>

     <head>
          <title>Uranium Exploration </title>
          <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <!-- <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script> -->
     </head>

     <body>

          <h1 id="myh1">Select a district from the list.</h1>

          <select class="myDistricts">
               {% for row in rows %}
                    <option value={{row[0]}}>{{row[1]}}
               {%  endfor %}
          </select>

          <ol id="myReferences"></ol>

          <script>
          $(document).ready(function() {

               // $("#myh1").css({color:'red'});
               // $("#myh1").html('jQuery changed me');

               $("select.myDistricts").change(function() {
                    var selected_id = $(this).children("option:selected").val();
                    var selected_txt = $(this).children("option:selected").text();
                    // alert(selected);
                    $("#myh1").html("You selected: " + selected_id + "--" + selected_txt);

               var $refs = $('#myReferences');
               $.ajax({
                  type: "GET",
                  url: "http://127.0.0.1:5000/reference/" + selected_id,
                  success: function(data) {
                       console.log('Success', data);
                       objects = JSON.parse(data.Refs)
                       console.log(objects[0].reference);
                       // debugger
                       $.each(objects, function(i, object) {
                             $refs.append('<li>' + object.reference + '</li>');
                       });
                    }
                });
            });
          });
          </script>

     </body>
</html>
